ts.txt
/*.txt
!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.tar.gz*
/*.gz
/*.tar
/*.bak
/*.old
/*~
*/_*
/_*
/composer.lock
/bitrix/*
!/bitrix/components
/bitrix/components/bitrix/
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/*.bak
!/bitrix/templates/
/upload/*
/upload_/*
.htaccess
robots.txt
/bitrix/backup/
/bitrix/html_pages/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/tmp/
/bitrix/stats/
/bitrix/.settings.php
/bitrix/php_interface/.#dbconn.php
/bitrix/modules/updater.log
/bitrix/modules/updater_partner.log
/bitrix/themes/.default/modules.css
/.git/
/img/
/test/
/mailru*.html
/*.md
/.vscode/
/.well-known/
/vendor/
favicon.ico
bitbucket-pipelines.yml